<div *ngIf="!fin">

    <div *ngIf="numero < 0">
    <section>
        <fieldset id="field2">
            <legend> <h2>Menu</h2> </legend>
    
                <input #nombreQuestion type="number" />
                <label>Nombre questions</label>
                <br>

                <input type="checkbox" [(ngModel)]="marcheTest"/>
                <label>marche</label>
                <br>

                <input type="checkbox" [(ngModel)]="pecheTest"/>
                <label>peche</label>
                <br>

                <button (click)=resultat(nombreQuestion.value)>Boom</button>

        </fieldset>
    </section>
    </div>

    <div *ngIf="numero >= 0">
    <section>
        <fieldset id="field2">
            <legend> <h2>Image</h2> </legend>
                <img src={{reponse[numero].image[0]}} width="400px" height="400px">
        </fieldset>
    </section>

    <section>
        <fieldset id="field2">
            <legend> <h2>Question</h2> </legend>

            <label for="Identifiant">{{reponse[numero].titre}}</label>

        </fieldset>
    </section>


    <section>
        <fieldset id="field2">
            <legend> <h2>Reponse</h2> </legend>

            <table *ngFor="let syntagme of reponse[numero].syntagmes">
                <tr>
                    <td>
                        <label for="reponse1">{{syntagme.data}}</label>
                    </td>
                    
                </tr>

                <tr>
                    <td>
                        <input type="text" [(ngModel)]="syntagme.reponse" name="free" style="margin-bottom:10px;"/>
                    </td>
                </tr>

            </table>

            <button (click)=clickedSuivant()>Suivant</button>
        </fieldset>
    </section>
    </div>
</div>

<div *ngIf="fin">
    <label for="reponse1">Félicitation, voici votre résultat: {{reponse.score}}</label>


        <section *ngFor="let repon of reponse">
        <fieldset id="field2">
            <legend> <h2>Question</h2> </legend>
            
                <a href={{repon.article}} target="_blank"> Titre: {{repon.titre}} </a>
                <br>
                <br>

                <img src={{repon.image[0]}} width="400px" height="400px">

                <table *ngFor="let syntagme of repon.syntagmes">
                    <tr>
                        <td>
                            <input type="text" name="reponse-{{syntagme}}" id="reponse" value={{syntagme.data}}/>
                        </td>
                        <td>
                            <input type="text" name="reponse-{{syntagme}}" id="reponse"  value={{syntagme.value}} />
                        </td>
                        <td>
                            <input type="text" name="reponse-{{syntagme}}" id="reponse"  value={{syntagme.reponse}} />
                        </td>
                        <td>
                            <input type="text" name="reponse-{{syntagme}}" id="reponse"  value={{syntagme.resultat}} />
                        </td>
                    </tr>
                </table>

        </fieldset>
    </section>
</div>